
/*---------------------
-----BASE  STYLES------
---------------------*/

body {
    margin:0px;
    padding:0px;
}

header {
    position:sticky;
    top:0px;
    padding:10px 20px;
    background:#6facdc;
    display:flex;
    justify-content:space-between;
    align-items:center;
    
}

header h1 {
    text-align:left;
    font-size:30px;
    color:#f9fbfc;
    font-family: Arial, sans-serif;
}

header a {
    text-decoration: none;
    color: #f9fbfc;
    font-family: Arial, sans-serif;
    font-size:20px;
    text-align:right;
}
