
/*---------------------
-----BASE  STYLES------
---------------------*/

body {
    margin:0px;
    padding:0px;
}

header {
    position:sticky;
    top:0px;
    padding:10px;
    background:#6facdc
    
}

header h1 {
    text-align:left;
    font-size:30px;
    color:whitesmoke;
    font-family: Arial, sans-serif;
}