body >:not(header) {
    background-color:#fafbfc;
    font-family:Arial, sans-serif;
    margin-left:25px;
    margin-right:25px;
    
}

/*.left {
    width:45%;
    float:left;
    text-align:center;
    min-height:300px;
}

.right {
    width:45%;
    float:right;
    text-align:center;
    min-height:300px;
}*/

.row {
    display:flex;
    /*justify-content:space-between;*/
    gap:40px;
    margin-bottom:50px;
    flex-wrap:wrap;
    
}

.box {
    /*width:45%;*/
    flex: 1 1 200px;
    min-width:200px;
    align-items:center;
    display:flex;
}

.image {
    display:flex;
    justify-content:center;
}

.box h2 {
    margin-bottom:10px;
}

.box p {
    text-align:left;
}

.image {
    padding-left:5%;
    padding-right:5%;
    width:25%;
    flex: 0 0 300px 300px;
}

.personpic {
    display:block;
    width:289px;
    height:282px;
    border-radius: 4px; /*Rounded corners ig*/
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.435); /*Shadow */
    border: 1px solid #004cff8f; /*Gemini said add a thin border for minimalist look*/
}

figure {
    text-align:center;
    margin:0;
}

figcaption {
    margin-top:10px;
    font-size:20px;
}

.edit {
    width: auto !important;
    flex: 1 !important;
    display:flex;
    flex-direction:column;
}

button {
    background-color: #78a9d4;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    width: 250px;
    transition: all 0.2s ease;
}

button:hover {
    box-shadow: 0px 4px 12px #78a9d4;
    background-color: #5e8cb3;
}
.TitlePage {
   
}